@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Vujahday+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.image-text{
    position: absolute;
    top: 40%;
    left: 10%;
}

.card-body{
    text-align: center;
}

.card-body>p{
    font-size: 1.5em;
}

.card-body p , .card-body a{
    font-weight: bold;
}

.pc-man{
    width: 100px;
}

.social-img-group img{
    padding: 0 5px;
}

.copyright p{
    padding: 0 5px;
    opacity: .5;
}
/* .product-sample-container{
    display: flex;
}

.product-sample-two , .product-sample-one{
    width: 100%;
} */
